.wrapper {
  display: flex;
  align-items: center;
  padding: 4px 8px;
  cursor: pointer;

  &:hover {
    background-color: rgba(22, 24, 35, 0.03);
  }
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.info {
  flex: 1;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
}

.name {
  font-size: 1.6rem;
  font-weight: 600;
  display: flex;
  align-items: center;
}

.check {
  margin-left: 8px;
  color: rgb(32, 213, 216);
  font-size: 1.2rem;
}

.username {
  font-size: 1.4rem;
  color: rgba(22, 24, 35, 0.5);
}
